{% extends "base.html" %}
{% block content %}
<h1>Lisää uusi tuote</h1>
<form action="{{base_path}}/items" method="post">
    <div class="form-group">
        <label for="nimi">Nimi</label>
        <input type="text" class="form-control" name="nimi">
    </div>
    <div class="form-group">
        <label for="hinta">Alin hinta</label>
        <div class="input-group">
            <input type="text" class="form-control" name="hinta">
            <div class="input-group-addon">€</div>
        </div>
    </div>
    <div class="form-group">
        <label for="kuvaus">Kuvaus</label>
        <textarea class="form-control" name="kuvaus" rows="5"></textarea>
    </div>
    <div class="form-group">
        <label for="kuva">Kuvan osoite</label>
        <input type="text" class="form-control" name="kuva" placeholder="http://">
    </div>
    <button type="submit" class="btn btn-primary">Tallenna</button>
</form>
{% endblock %}
