{% extends "base.html" %}
{% block content %}
<h1>Lisää uusi tuoteluokka</h1>

{% if errors %}
    <div class="alert alert-danger">
        <ul>
            {% for error in errors %}
            <li>{{error}}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<form action="{{base_path}}/categories" method="post">
    <div class="form-group">
        <label for="nimi">Nimi</label>
        <input type="text" class="form-control" name="nimi">
    </div>
    <div class="form-group">
        <label for="kuvaus">Kuvaus</label>
        <textarea class="form-control" name="kuvaus" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Tallenna</button>
</form>
{% endblock %}
