{% extends "base.html" %}
{% block content %}
  <h1>Kirjaudu sisään</h1>

  
{% if message != null %}
<div class="alert alert-success">
  {{message}}
</div>
{% endif %}

  
  <!-- Kaikki lomakkeen elementit form-tagin sisään -->
  <form method="post" action="{{base_path}}/login">
    <!-- Tekstikenttä käyttäjätunnukselle -->
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input type="text" name="email" class="form-control">
    </div>

    <!-- Salasanakenttä salasanalle -->
    <div class="form-group">
      <label>Salasana</label>
      <input type="password" name="password" class="form-control">
    </div>

    <button type="submit"  class="btn btn-primary">Kirjaudu sisään</button>
  </form>
{% endblock %}