{% extends "base.html" %}
{% block content %}
{% if message != null %}
<div class="alert alert-success">
  {{message}}
</div>
{% endif %}

{% import "macros/item_list.html" as item_list %}

<div class="container">
    <div class="page-header">
        <h1>Asiakkaat</h1>
    </div>

    <table class="table table-hover">
        <tr>
            <th>Nimi</th>
            <th>Sähköposti</th>
            <th>Osoite</th>
            <th>puhelin</th>
        </tr>
        {% for customer in customers %}
        <tr>
            <td><a href="{{base_path}}/customers/{{customer.id}}">{{customer.name}}</a></td>
            <td>{{customer.email}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.phone}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}